{% extends "base2.html" %}
{% block content %}
<h2>Drivers</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for i in info %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a target="_blank" style="color:rgb(255,0,0);">
                                {{ i.l }}
                            </a>
                        </h5>
                        <p class="card-text">
                            <b>Birth Date:</b> {{ i.birthDate }}
                            <br>
                            <b>Nationality:</b> {{ i.nationality }}
                            <br>
                            <b>Championships:</b> {{ i.championships }}
                            <br>
                            <b>Fan Rating:</b> {{ i.fanRating }}
                                <a type="button" href="{% url 'drivers' %}rate/{{ i.l }}/{{ i.fanRating }}/{{ "dislike" }}" style="border:1px transparent; background-color: transparent; float: right; margin:5px;">
                                <i style="font-size:24px" class="fa">&#xf165;</i></a>

                                <a type="button" href="{% url 'drivers' %}rate/{{ i.l }}/{{ i.fanRating }}/{{ "like" }}" style="border:1px transparent; background-color: transparent; float: right; margin:5px;">
                                <i style="font-size:24px" class="fa">&#xf164;</i></a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}