{% extends "base2.html" %}
{% block content %}
    <h2>Media</h2>
    <p>({{ n_media }})</p>
    <p> <b> Throughout this page it is possible to find all sources of Formula 1 content, whether it's news, TV shows or movies relative to the sport: </b> </p>
    <div class="row row-cols-1 row-cols-md-2">
        {% for s, data in lista.items %}
            <div class="col mb-4">
                <div class="card">
                    <div dbo:="http://dbpedia.org/ontology/" prov="https://www.w3.org/ns/prov"
                         about="http://dbpedia.org/page/{{ data.TAG }}" class="card-body">
                        <h5 class="card-title">
                            <a target="_blank" property="prov:wasDerivedFrom" style="color:rgb(255,0,0);" href="{{ data.URL }}">
                                {{ data.Label }}
                            </a>
                        </h5>
                        <p class="card-text">
                            {{ data.COMMENT }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col mb-4">
            <div class="card">
                <div dbo:="http://dbpedia.org/ontology/" prov="https://www.w3.org/ns/prov"
                     about="http://dbpedia.org/page/F1_Digital+" class="card-body">
                    <h5 class="card-title">
                        <a target="_blank" property="prov:wasDerivedFrom" style="color:rgb(255,0,0);"
                           href="https://en.wikipedia.org/wiki/F1_Digital+?">
                            F1 Digital+
                        </a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div dbo:="http://dbpedia.org/ontology/" prov="https://www.w3.org/ns/prov"
                     about="http://dbpedia.org/page/Netflix" class="card-body">
                    <h5 class="card-title">
                        <a target="_blank" property="prov:wasDerivedFrom" style="color:rgb(255,0,0);"
                           href="https://en.wikipedia.org/wiki/Formula_1:_Drive_to_Survive">
                            Netflix
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}