{% extends "base2.html" %}
{% block content %}
    <h1>Standings</h1>
    <div class="row row-cols-1 row-cols-md-3">
    {% for name, natio in tracklist.items %}
        <div class="col mb-4">
            <div class="card">
              <div class="card-body" align="center">
                <h5 class="card-title"> {{ name }}</h5>
                <p class="card-text"> {{ natio.0 }}, {{ natio.1 }}</p>
                  <img src="{{ natio.2 }}" width="250" height="250"/>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{##}
{#{{ html | safe }}#}
{% endblock %}
